services:
  - type: web
    name: aj-api
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    region: oregon
    healthCheckPath: /health
    envVars:
      - key: PORT
        value: 5000
      - key: PYTHON_VERSION
        value: 3.10
      - key: OLLAMA_HOST
        value: 0.0.0.0:11434
    autoDeploy: true
